{:deps     {:aliases [:shadow :sci]}
 :dev-http {8000 "public"}
 :builds   {:app      {:target          :browser
                       :closure-defines {malli.registry/type "default"}
                       :modules         {:cljs  {:entries [cljs.core]}
                                         :malli {:entries    [malli.core]
                                                 :depends-on #{:cljs}}
                                         :app   {:entries    [malli.app]
                                                 :depends-on #{:malli}}}}
            :play     {:target     :browser
                       :output-dir "public/js/play"
                       :asset-path "/js/play"
                       :modules    {:play {:entries [malli.instrument-app]
                                           :init-fn malli.instrument-app/init}}
                       ;; this is from the helix readme
                       :dev        {:compiler-options {:output-feature-set :es6}}}
            :node-js  {:target    :node-script
                       :output-to "build/node-app.js"
                       :main      malli.instrument-app/init
                       :devtools  {:repl-pprint true}}
            :app-sci  {:target          :browser
                       :closure-defines {malli.registry/type "default"}
                       :devtools        {:preloads [sci.core]}
                       :modules         {:cljs  {:entries [cljs.core]}
                                         :sci   {:entries    [sci.core]
                                                 :depends-on #{:cljs}}
                                         :malli {:entries    [malli.core]
                                                 :depends-on #{:cljs :sci}}
                                         :app   {:entries    [malli.app]
                                                 :depends-on #{:malli}}}}
            :app2     {:target          :browser
                       :closure-defines {malli.registry/type "custom"}
                       :modules         {:cljs  {:entries [cljs.core]}
                                         :malli {:entries    [malli.core]
                                                 :depends-on #{:cljs}}
                                         :app   {:entries    [malli.app2]
                                                 :depends-on #{:malli :cljs}}}}
            :app2-sci {:target          :browser
                       :closure-defines {malli.registry/type "custom"}
                       :devtools        {:preloads [sci.core]}
                       :modules         {:cljs  {:entries [cljs.core]}
                                         :sci   {:entries    [sci.core]
                                                 :depends-on #{:cljs}}
                                         :malli {:entries    [malli.core]
                                                 :depends-on #{:cljs :sci}}
                                         :app   {:entries    [malli.app2]
                                                 :depends-on #{:malli}}}}}}
